<!DOCTYPE html>

<!--작성자 백혜민
    참고) https://lucidmaj7.tistory.com/251 -->

<head>
    <meta charset="utf-8">
    <title>GADA 서비스 회원 가입 페이지</title>
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page-container">
<div class="login-form-left-side">
                <div class="login-input-container">
                    <div class="login-input-wrap input-id">
                        <i class="far fa-envelope"></i>
                        <input placeholder="아이디" type="text">
                    </div>
                    <div class="login-input-wrap input-password">
                        <i class="fas fa-key"></i>
                        <input placeholder="비밀번호"  type="password">
                    </div>
                    <div class="login-input-wrap input-password">
                        <i class="fas fa-key"></i>
                        <input placeholder="비밀번호 확인"  type="password">
                    </div>
                </div>
                <div class="login-btn-wrap">
                    <button class="login-btn">가입하기</button>
                </div>
            </div>
    </div>
</body>

</html>