<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GADA Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page-container">
        <div class="login-form-container shadow">
            <div class="login-form-right-side">
                <div class="top-logo-wrap">

                </div>
                <h1>Site Navigation GADA</h1>
                <p>음성을 인식해서 원하는 페이지로 이동시켜주는 챗봇</p>
            </div>
            <div class="login-form-left-side">
                <div class="login-top-wrap">
                    <span>계정이 없다면?</span> <a href="/join">Sign Up</a>
                </div>
                <div class="login-input-container">
                    <div class="login-input-wrap input-id">
                        <i class="far fa-envelope"></i>
                        <input id="userId" placeholder="ID" type="text">
                    </div>
                    <div class="login-input-wrap input-password">
                        <i class="fas fa-key"></i>
                        <input id="userPassword" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="login-btn-wrap">
                    <button id="loginBtn" class="login-btn">로그인</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="js/global.script.js"></script>
    <script>
        $("#loginBtn").click(function () {
            var userId = $("#userId").val();
            var userPassword = $("#userPassword").val();
            // #ajax is, password url : '/login'
            $.ajax({
                url: "/login",
                type: "POST",
                data: {
                    userId: userId,
                    userPassword: userPassword,
                },
                success: function (data) {
                    if (data == "로그인 성공") {
                        alert("signup success!!!!");
                        window.location.href = "/join";
                    } else {
                        alert("로그인 실패 ! 아이디와 비밀번호를 다시 확인해 주세요.");
                    }
                },
            });
        })
    </script>
</body>

</html>