<!DOCTYPE html>

<!--작성자 백혜민
    참고) https://lucidmaj7.tistory.com/251 -->

<head>
    <meta charset="utf-8">
    <title>GADA URL 추가 요청 페이지</title>
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<style>
.req {width: 100vw;
    height: 90vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center; }
</style>
<body>
    <div class = "req">
        <div class="login-form-left-side">
                <div class="login-input-container">
	      <p><b>요청하고 싶은 기능을 입력해주세요</b></p>
                    <div class="login-input-wrap input-id">
                        <input id = "functions" placeholder="예시: 네이버 카페" type="text">
                    </div>
	       <div>
		<p><b><br>추가하고 싶은 이유를 작성해주세요</b></p>
	       </div>
                    <div class="login-input-wrap input-id">
                        <input id="reason" placeholder="카페 기능을 찾기 힘듭니다."  type="text">
                    </div>
                </div>
                <div class="login-btn-wrap">
                    <button id = "submitBtn" class="login-btn">제출하기</button>
                </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="js/global.script.js"></script>
    <script>
        $("#submitBtn").click(function () {
            var functions = $("#functions").val();
            var reason = $("#reason").val();
            // #ajax is, password url : '/login'
            $.ajax({
                url: "/request",
                type: "POST",
                data: {
                    functions : functions,
                    reason : reason,
                },
                success: function (data) {
                    if(data == "성공"){
                        alert("사용자 요청이 처리되었습니다.");
                    }
                },
            });
        })
    </script>
</body>

</html>