<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GADA Main</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-container">
        <div class="login-form-container shadow">
            <div class="login-form-right-side">
                <h1>Site Navigation GADA</h1>
                <p>음성을 인식해서 원하는 페이지로 이동시켜주는 챗봇</p>
            </div>
	<div class="login-form-left-side">
                <div class="login-top-wrap">
                    <span style = "padding-right:0px;">사용자 모드</span>
	    </div>
            <div class="login-form-left-side">
                <div class="btn-wrap" style="margin-top: 105%;">
                    <button id = "recognization" class="btn" style ="font-size: 15px;">GADA 음성 인식</button>
                </div>
                <div class="btn-wrap">
                    <button id = "addUrl" class="btn" style ="font-size: 15px;"> GADA URL 추가 요청</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="js/global.script.js"></script>
    <script>
        $("#addUrl").click(function () {
            window.location.href = "/request";
        })
    </script>
</body>
</html>